@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@media (min-width: 1200px) and (min-width: 1200px) and (max-width: 1289px) {
  .navbar-item-link {
    width: 110px;
    margin-right: 10px;
    display: inline-block; }

  .submenu {
    margin: 34px 0 0 0;
    left: 0; }

  .main-info-slides-item {
    width: 320px;
    height: 240px; }

  .footer-block1 {
    width: 80%; }

  .footer-block2 {
    border-right: solid #a6a6a6 1px;
    border-left: solid #a6a6a6 1px;
    width: 15%;
    margin-left: 45px; }

  .contacts {
    margin-left: 60%; }

  .footer-block3 {
    border-top: solid #a6a6a6 1px;
    height: 30px; }

  .footer-menu {
    margin-left: 30%; } }
@media (min-width: 1200px) and (min-width: 1290px) {
  .navbar-item-link {
    width: 115px;
    margin-right: 22px; }

  .submenu {
    margin: 33px 0 0 -348px; }

  .main-info-slides-item {
    width: 360px;
    height: 250px; }

  .footer-block1 {
    width: 1075px; }

  .footer-block2 {
    width: 180px; }

  .footer-block1, .footer-block2 {
    border-right: solid #a6a6a6 1px; }

  .contacts {
    margin-left: 810px; }

  .footer-menu {
    margin-left: 420px; } }
@media (min-width: 1200px) {
  .navbar-logo {
    margin-left: 45px;
    margin-right: 80px; }

  .navbar-item {
    display: inline-block; }

  .navbar-item-link {
    height: 73px; }

  .navbar-item-link > span {
    padding-top: 25%; }

  .navbar-dropdown {
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;
    margin-left: 75px; }

  .navbar-dropdown > .dropdown-lang {
    width: 70px; }

  .navbar-dropdown > .dropdown-lang > .lang-item {
    height: 45px;
    width: 70px;
    padding-top: 29px; }

  .submenu {
    width: 1366px; }

  .submenu-item-img-title {
    margin-top: 9px; }

  .our-products-menu-item {
    width: 190px;
    border-right: solid #464c52 1px; }

  .our-products-menu {
    margin-top: 30px;
    position: absolute; }

  .show-menu {
    display: none; }

  .main-info-slides-item {
    margin-right: 2%; }

  .slide-text {
    padding-top: 190px; }

  .main-info-slides {
    margin: 0 auto;
    padding: 35px 0 12px 110px; }

  .main-info-add {
    display: block;
    margin: 0 auto;
    width: 1145px;
    padding-bottom: 65px; }

  .add-block1, .our-products-menu-item {
    font-weight: 700;
    text-transform: uppercase; }

  .add-block1, .add-block2, .slide-text {
    text-align: center; }

  .add-block {
    height: 60px; }

  .add-block1-img, .add-block > span, .ceo-row {
    display: block; }

  .add-block1 {
    width: 50%;
    margin-left: -20px;
    transform: skewX(-25deg); }

  .add-block1 > .add-block1-img, .add-block1 > span {
    transform: skewX(25deg); }

  .add-block1 > span {
    margin-top: 25px;
    margin-left: 20px; }

  .add-block1-img {
    margin-left: 70px;
    margin-top: 17px;
    position: absolute; }

  .add-block2 {
    width: 55%;
    transform: skewX(-25deg);
    margin-right: -45px;
    margin-left: -5px; }

  .add-block2 > span {
    transform: skewX(25deg);
    margin-left: -125px; }

  .main-info-ceo {
    width: 1145px; }

  .ceo-article, .contact-img, .contacts-item, .contacts-title, .copyright, .designed, .designed > .company, .designed > span, .facebook-img, .facebook-num {
    display: inline-block; }

  .ceo-article {
    vertical-align: text-top;
    margin-right: 80px;
    width: 490px; }

  .article-title {
    width: 490px;
    text-align: left; }

  .article-text {
    width: 490px;
    text-align: left; }

  .footer {
    min-height: 110px; }

  .footer-blocks {
    border-bottom: solid #a6a6a6 1px; }

  .footer-block1, .footer-block2 {
    display: inline-block;
    min-height: 75px; }

  .becker-block {
    display: block;
    width: 215px;
    word-break: normal;
    margin-top: 20px; }

  .becker-block > img {
    margin-left: 113px;
    position: absolute; }

  .becker-block > span {
    height: 35px;
    width: 90px;
    margin-left: 245px;
    margin-top: 2px;
    position: absolute; }

  .footer-menu {
    position: absolute;
    margin-top: 10px;
    font-size: 13px; }

  .footer-menu-item {
    margin-right: 20px; }

  .contacts {
    position: absolute;
    margin-top: 2px; }

  .contacts, .facebook-button, .footer-block3 {
    color: #fff;
    display: block; }

  .contacts-item {
    margin-right: 30px;
    font-size: 13px; }

  .facebook-button {
    position: absolute;
    margin-top: 25px;
    margin-left: 14px; }

  .footer-block3 {
    font-size: 13px;
    width: 100%; }

  .designed {
    float: left; }

  .designed > .company {
    position: absolute;
    margin-left: 260px;
    margin-top: 10px; }

  .designed > span {
    position: absolute;
    margin-left: 110px;
    margin-top: 11px;
    font-size: 11px; }

  .copyright {
    float: right;
    margin-top: 10px;
    margin-right: 90px;
    font-size: 11px; } }
@media (max-width: 1199px) {
  .navbar-item-link {
    height: 73px;
    width: 100%;
    display: none; }

  #products {
    margin-top: 22px; }

  .navbar-item-link > span {
    padding-top: 25px; }

  .navbar-logo {
    padding-left: 20px;
    padding-top: 20px; }

  .navbar-dropdown {
    position: absolute;
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;
    right: 30px;
    top: 0; }

  .navbar-dropdown > .dropdown-lang {
    width: 70px; }

  .navbar-dropdown > .dropdown-lang > .lang-item {
    height: 45px;
    width: 70px;
    padding-top: 29px; }

  .submenu {
    width: 1366px; }

  .submenu-item-img-title {
    margin-top: 9px; }

  .our-products-menu-item {
    width: 16%;
    display: inline-block;
    border-right: solid #464c52 1px; }

  .our-products-menu {
    margin: 30px auto 0 30px; }

  .show-menu {
    display: block;
    position: absolute;
    color: #eb4200;
    font-size: 40px;
    cursor: pointer;
    margin-left: 80%;
    margin-top: 15px; }

  .main-info-slides-item {
    margin-right: 2%;
    width: 30%;
    height: 220px; }

  .slide-text {
    padding-top: 170px; }

  .main-info-slides {
    margin: 0 auto;
    padding: 35px 0 12px 5%; }

  .main-info-add {
    display: block;
    margin: 0 auto;
    width: 1145px;
    padding-bottom: 65px; }

  .add-block1, .our-products-menu-item {
    font-weight: 700;
    text-transform: uppercase; }

  .add-block1, .add-block2, .slide-text {
    text-align: center; }

  .add-block1-img, .add-block > span, .ceo-row {
    display: block; }

  .add-block1 {
    width: 100%; }

  .add-block1 > span {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px; }

  .add-block1-img {
    margin: 10px auto; }

  .add-block2 {
    width: 100%; }

  .add-block2 > span {
    margin-bottom: 25px; }

  .main-info-ceo {
    width: 1145px; }

  .ceo-article, .contact-img, .contacts-item, .contacts-title, .copyright, .designed, .designed > .company, .designed > span, .facebook-img, .facebook-num {
    display: inline-block; }

  .ceo-article {
    vertical-align: text-top;
    width: 100%;
    margin-bottom: 10px; }

  .article-title {
    text-align: center; }

  .article-text {
    width: 100%;
    text-align: center; }

  .footer {
    min-height: 110px; }

  .footer-blocks {
    border-bottom: solid #a6a6a6 1px; }

  .footer-block1, .footer-block2 {
    display: block; }

  .becker-block {
    display: block;
    width: 100%;
    padding: 10px;
    word-break: normal; }

  .becker-block > img {
    margin: 0 auto; }

  .becker-block > span {
    text-align: center; }

  .footer-menu {
    display: block;
    width: 100%;
    text-align: center;
    border-top: solid #a6a6a6 1px;
    padding: 10px;
    font-size: 13px; }

  .footer-menu-item {
    margin-right: 20px; }

  .contacts {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-top: solid #a6a6a6 1px; }

  .contacts, .facebook-button, .footer-block3 {
    color: #fff;
    display: block; }

  .contacts-item {
    display: inline-block;
    font-size: 13px;
    margin: 2px; }

  .facebook-button {
    position: absolute;
    margin-top: 25px;
    margin-left: 14px; }

  .footer-block3 {
    font-size: 13px;
    width: 100%; }

  .designed {
    float: left; }

  .designed > .company {
    position: absolute;
    margin-left: 260px;
    margin-top: 10px; }

  .designed > span {
    position: absolute;
    margin-left: 110px;
    margin-top: 11px;
    font-size: 11px; }

  .copyright {
    float: right;
    margin-top: 10px;
    margin-right: 90px;
    font-size: 11px; } }
body {
  font-family: "Tahoma", serif; }
  body .banner-text-title, body .navbar-item, body .slide-text-title {
    text-transform: uppercase; }
  body .main-block {
    max-width: 1366px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto; }
  body .navbar {
    display: block;
    min-height: 75px;
    background-color: #fff;
    z-index: 99; }
    body .navbar .navbar-ul {
      list-style-type: none; }
    body .navbar .navbar-item {
      font-size: 13px;
      color: #333;
      vertical-align: middle;
      cursor: pointer;
      transition: all 0.2s; }
    body .navbar .navbar-item-link {
      text-align: center;
      border-bottom: solid #fff 2px; }
      body .navbar .navbar-item-link > span {
        display: block; }
      body .navbar .navbar-item-link:hover {
        border-color: #eb4200;
        color: #eb4200; }
      body .navbar .navbar-item-link.active {
        display: inline-block; }
    body .navbar #products:hover {
      background-color: #8c8d8d;
      color: #fff;
      border-color: #8c8d8d; }
    body .navbar #products:hover .submenu {
      visibility: visible;
      opacity: 1;
      transition: all 0.2s; }
    body .navbar #products:hover .submenu-item {
      visibility: visible;
      margin: 25px 0 0 25px;
      opacity: 1;
      transition: all 0.5s; }
    body .navbar #products .submenu {
      background-color: #8c8d8d;
      position: absolute;
      display: block;
      min-height: 212px;
      cursor: default;
      max-width: 100%;
      word-break: normal;
      visibility: hidden;
      z-index: 2;
      opacity: 0;
      transition: all 0.5s; }
    body .navbar #products .submenu-item {
      display: inline-block;
      width: 120px;
      margin: 0 0 0 25px;
      font-size: 11px;
      opacity: 0;
      word-break: normal;
      visibility: hidden;
      vertical-align: text-top;
      transition: all 1s; }
    body .navbar #products .submenu-item-img {
      cursor: pointer;
      float: left; }
    body .navbar #products .submenu-img-container {
      cursor: pointer;
      position: relative;
      width: 110px;
      height: 70px; }
    body .navbar #products .submenu-item-img-title {
      color: #fff;
      display: block;
      float: left; }
    body .navbar #products .submenu-img-container:hover:after {
      vertical-align: middle;
      padding: 50px 5px 0 5px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      word-break: normal;
      line-height: 15px; }
    body .navbar #products .submenu > li:nth-of-type(1) > .submenu-img-container:hover:after {
      content: "Rolety"; }
    body .navbar #products .submenu > li:nth-of-type(2) > .submenu-img-container:hover:after {
      content: "Venkovn├н ┼╛aluzie"; }
    body .navbar #products .submenu > li:nth-of-type(3) > .submenu-img-container:hover:after {
      content: "Syst├йmov├й parapety"; }
    body .navbar #products .submenu > li:nth-of-type(4) > .submenu-img-container:hover:after {
      content: "Mark├╜zy"; }
    body .navbar #products .submenu > li:nth-of-type(5) > .submenu-img-container:hover:after {
      content: "Vrata"; }
    body .navbar #products .submenu > li:nth-of-type(6) > .submenu-img-container:hover:after {
      content: "S├нt─Ы proti hmyzu"; }
    body .navbar #products .submenu > li:nth-of-type(7) > .submenu-img-container:hover:after {
      content: "Barvy rolet a ┼╛aluzi├н"; }
    body .navbar #products .submenu > li:nth-of-type(8) > .submenu-img-container:hover:after {
      content: "Spo─Н├нtejte si cenu"; }
    body .navbar #products .submenu-img-container:hover + .submenu-item-img-title {
      visibility: hidden; }
    body .navbar .navbar-dropdown {
      text-align: center;
      color: #ddd;
      cursor: default;
      position: absolute; }
    body .navbar .navbar-dropdown > .dropdown-lang {
      list-style: none;
      height: 75px; }
    body .navbar .navbar-dropdown > .dropdown-lang > .lang-item {
      display: none;
      cursor: pointer; }
    body .navbar .navbar-dropdown > .dropdown-lang:hover > .lang-item {
      display: block;
      background-color: #8c8d8d;
      color: #fff;
      border-style: none; }
    body .navbar .navbar-dropdown > .dropdown-lang:hover > .lang-item:hover {
      color: #eb4200; }
    body .navbar .navbar-dropdown > .dropdown-lang > .lang-item.active {
      display: inline-block; }
    body .navbar .navbar-dropdown > .dropdown-lang:hover > .lang-item.active > span > .lang-arrow-img {
      transform: rotateZ(-90deg);
      transition: all 0.2s; }
    body .navbar .lang-arrow-img {
      vertical-align: middle;
      margin-left: 5px;
      position: absolute;
      transform: rotateZ(90deg);
      transition: all 0.2s; }
  body .banner-text-sub-title, body .banner-text-title {
    padding: 10px;
    background: rgba(0, 0, 0, 0.65);
    margin: 0 auto; }
  body .banner {
    width: 100%;
    height: 522px;
    background: url(../../images/house.png) no-repeat;
    box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, 0.75); }
  body .banner-content {
    margin: 0 auto;
    width: 1145px;
    max-width: 100%;
    height: 100%; }
  body .banner-text {
    color: #fff;
    padding-top: 113px; }
  body .banner-text-title {
    font-weight: 700;
    width: 810px;
    text-align: center;
    max-width: 100%;
    word-break: normal; }
  body .banner-text-sub-title {
    width: 600px;
    text-align: center;
    font-size: 23px;
    max-width: 100%;
    word-break: normal;
    margin-top: -10px; }
  body .banner-text-euro {
    background: #212121;
    border-radius: 3px;
    padding: 10px 0;
    width: 290px;
    margin: -5px auto 100px;
    font-size: 15px;
    vertical-align: middle;
    height: 25px;
    max-width: 100%;
    word-break: normal; }
  body .euro-sign {
    display: block;
    margin-left: 35px;
    width: 3px;
    height: 3px;
    background-color: #eb4200;
    padding: 9px 9px;
    border-radius: 30px;
    margin-top: 3px;
    font-weight: bold; }
  body .euro-sign > i {
    display: block;
    font-size: 13px;
    margin-top: -4px;
    margin-left: -3px; }
  body .euro-content {
    margin-top: -18px;
    text-align: center;
    margin-left: 16px;
    max-width: 100%;
    word-break: normal;
    text-transform: uppercase; }
  body .our-products {
    text-align: center;
    font-size: 15px; }
  body .our-products-title {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap; }
  body .our-products-title:after, body .our-products-title:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 45%;
    height: 1px;
    vertical-align: middle;
    background: #fff; }
  body .our-products-title:before {
    left: -10px;
    margin-left: -45%; }
  body .our-products-title:after {
    left: 10px;
    margin-right: -45%; }
  body .our-products-menu > li:nth-last-of-type(1) {
    border-right-style: none; }
  body .our-products-menu-item {
    display: inline-block;
    height: 50px;
    color: #333;
    background-color: #fff;
    float: left;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s; }
  body .our-products-menu {
    max-width: 100%;
    display: block;
    list-style: none;
    min-height: 50px; }
  body .our-products-menu-item:hover {
    background-color: #333;
    color: #fff;
    transition: all 0.2s; }
  body .our-products-menu-item > span {
    display: block;
    margin-top: 19px; }
  body .main-info {
    background-color: #f3f3f3;
    width: 100%; }
  body .main-info-slides-item {
    display: inline-block;
    box-shadow: inset 0 -97px 96px 0 rgba(0, 0, 0, 0.75);
    overflow: hidden; }
  body .main-info-slides-item#slide1 {
    background: url(../../images/img-slide-1.png) no-repeat; }
  body .main-info-slides-item#slide2 {
    background: url(../../images/img-slide-2.png) no-repeat; }
  body .main-info-slides-item#slide3 {
    background: url(../../images/img-slide-3.png) no-repeat; }
  body .slide-text {
    display: block;
    width: 100%;
    color: #fff;
    position: relative; }
  body .slide-text-title {
    font-size: 15px;
    font-weight: 700; }
  body .slide-badge, body .slide-text-description {
    font-size: 13px; }
  body .slide-badge {
    color: #fff;
    background-color: #eb4200;
    width: 145px;
    height: 35px;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    margin-left: -10px;
    margin-bottom: -65px;
    transform: skewX(-25deg); }
  body .slide-badge > span {
    display: block;
    padding-top: 11px;
    transform: skewX(25deg); }
  body .radio-buttons {
    display: block;
    margin: -10px auto;
    width: 60px;
    height: 25px;
    padding-bottom: 60px; }
  body .radio-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: #bbb;
    cursor: pointer; }
  body .radio-button.radio-active {
    background-color: #eb4200; }
  body .main-info-add {
    overflow: hidden;
    max-width: 100%; }
  body .add-block {
    display: inline-block; }
  body .add-block1 {
    background-color: #eb4200;
    color: #fff;
    font-size: 15px; }
  body .add-block1-img {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px; }
  body .add-block1-img {
    color: #eb4200;
    font-size: 16px; }
  body .add-block1-img > i {
    position: absolute;
    margin-left: -6px;
    margin-top: 6px; }
  body .add-block2 {
    background-color: #fff;
    font-size: 15px;
    color: #555555; }
  body .add-block2 > span {
    margin-top: 25px; }
  body .main-info-ceo {
    font-size: 13px;
    margin: 0 auto;
    max-width: 100%; }
  body .ceo-row {
    display: block;
    padding-bottom: 40px; }
  body .ceo-article {
    word-break: normal;
    line-height: 15px; }
  body .article-title {
    color: #000; }
  body .article-text {
    color: #999; }
  body .article-text > span {
    color: #eb4200;
    cursor: pointer; }
  body .article-text > span:hover {
    text-decoration: underline; }
  body .footer {
    width: 100%;
    background-color: #939494; }
  body .footer-blocks {
    display: block;
    width: 100%; }
  body .becker-block {
    font-size: 11px;
    color: #fff; }
  body .becker-block > img {
    display: block; }
  body .becker-block > span {
    display: block; }
  body .facebook-button {
    width: 150px;
    height: 30px;
    background-color: #3a5795;
    font-size: 13px;
    cursor: pointer; }
  body .facebook-img {
    padding-left: 10px;
    padding-top: 9px;
    position: absolute; }
  body .facebook-title {
    display: inline-block;
    border-right: solid #fff 1px;
    padding-right: 10px;
    padding-left: 25px;
    margin-top: 9px; }
  body .facebook-num {
    padding-left: 8px; }
  body .contacts {
    display: block;
    color: #fff; }
  body .contact-img {
    width: 30px;
    height: 30px;
    background-color: #7c7c7c;
    border-radius: 30px;
    text-align: center; }
  body .contact-img > i {
    padding-top: 10px;
    font-size: 12px; }
  body .footer-menu {
    list-style: none;
    display: block;
    color: #fff; }
  body .footer-menu-item {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s; }
  body .footer-menu-item:hover {
    color: #eb4200;
    transition: all 0.2s; }
  body .designed > .company {
    font-family: Oswald, sans-serif;
    font-size: 15px; }

/*# sourceMappingURL=style.css.map */
