@media (min-width: 1200px)and (max-width: 1289px) {
    .navbar-item-link {
        width: 110px;
        margin-right: 10px;
    }

    .submenu {
        margin: 34px 0 0 0;
        left: 0;
    }

    .main-info-slides-item {
        width: 320px;
        height: 240px;
    }

    .footer-block1 {
        width: 80%;
    }

    .footer-block2 {
        border-right: solid #a6a6a6 1px;
        border-left: solid #a6a6a6 1px;
        width: 15%;
        margin-left: 45px;
    }

    .contacts {
        margin-left: 60%;
    }
    .footer-block3 {
        border-top: solid #a6a6a6 1px;
        height: 30px;
    }
    .footer-menu {
        margin-left: 30%;
    }
}

@media (min-width: 1290px) {
    .navbar-item-link {
        width: 115px;
        margin-right: 22px;
    }

    .submenu {
        margin: 33px 0 0 -348px;
    }

    .main-info-slides-item {
        width: 360px;
        height: 250px;
    }

    .footer-block1 {
        width: 1075px;
    }

    .footer-block2 {
        width: 180px;
    }

    .footer-block1, .footer-block2 {
        border-right: solid #a6a6a6 1px;
    }

    .contacts {
        margin-left: 810px;
    }
    .footer-menu {
        margin-left: 420px;
    }
}

.navbar-logo {
    margin-left: 45px;
    margin-right: 80px;
}

.navbar-item-link {
    height: 73px;
}

.navbar-item-link > span {
    padding-top: 25%;
}

.navbar-dropdown {
    border-right: solid #ddd 1px;
    border-left: solid #ddd 1px;
    margin-left: 75px;
}

.navbar-dropdown > .dropdown-lang {
    width: 70px;
}

.navbar-dropdown > .dropdown-lang > .lang-item {
    height: 45px;
    width: 70px;
    padding-top: 29px;
}

.submenu {
    width: 1366px;
}

.submenu-item-img-title {
    position: absolute;
    margin-top: 55px;
}

.our-products-menu-item {
    width: 190px;
    border-right: solid #464c52 1px;
}

.our-products-menu {
    margin-top: 30px;
    position: absolute;
}

.show-menu {
    display: none;
}

.main-info-slides-item {
    margin-right: 2%;
}

.slide-text {
    padding-top: 190px;
}

.main-info-slides {
    margin: 0 auto;
    padding: 35px 0 12px 110px;
}

.main-info-add {
    display: block;
    margin: 0 auto;
    width: 1145px;
    padding-bottom: 65px;
}

.add-block1, .our-products-menu-item {
    font-weight: 700;
    text-transform: uppercase;
}

.add-block1, .add-block2, .slide-text {
    text-align: center;
}

.add-block {
    height: 60px;
}

.add-block1-img {

}

.add-block1-img, .add-block > span, .ceo-row {
    display: block;
}

.add-block1 {
    width: 50%;
    margin-left: -20px;
    transform: skewX(-25deg);
}

.add-block1 > .add-block1-img, .add-block1 > span {
    transform: skewX(25deg);
}

.add-block1 > span {
    margin-top: 25px;
    margin-left: 20px;
}

.add-block1-img {
    margin-left: 70px;
    margin-top: 17px;
    position: absolute;
}

.add-block2 {
    width: 55%;
    transform: skewX(-25deg);
    margin-right: -45px;
    margin-left: -5px;
}

.add-block2 > span {
    transform: skewX(25deg);
    margin-left: -125px;
}

.main-info-ceo {
    width: 1145px;
}

.ceo-article, .contact-img, .contacts-item, .contacts-title, .copyright, .designed, .designed > .company, .designed > span, .facebook-img, .facebook-num {
    display: inline-block;
}

.ceo-article {
    vertical-align: text-top;
    margin-right: 80px;
    width: 490px;
}

.article-title {
    width: 490px;
    text-align: left;
}

.article-text {
    width: 490px;
    text-align: left;
}

.footer {
    min-height: 110px;
}

.footer-blocks {
    border-bottom: solid #a6a6a6 1px;
}

.footer-block1, .footer-block2 {
    display: inline-block;
    min-height: 75px;
}

.becker-block {
    display: block;
    width: 215px;
    word-break: normal;
    margin-top: 20px;
}

.becker-block > img {
    display: block;
    margin-left: 113px;
    position: absolute;
}

.becker-block > span {
    display: block;
    height: 35px;
    width: 90px;
    margin-left: 245px;
    margin-top: 2px;
    position: absolute;
}

.footer-menu {
    list-style: none;
    display: block;
    color: #fff;
    position: absolute;
    margin-top: 10px;
    font-size: 13px;
}

.footer-menu-item {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    text-transform: uppercase;
}
.contacts {
    position: absolute;
    margin-top: 2px;
}
.contacts, .facebook-button, .footer-block3 {
    color: #fff;
    display: block;
}

.footer-menu-item:hover {
    color: #eb4200;
}

.contacts-item {
    margin-right: 30px;
    font-size: 13px;
}
.facebook-button {
    position: absolute;
    margin-top: 25px;
    margin-left: 14px;
}

.footer-block3 {
    font-size: 13px;
    width: 100%;
}


.facebook-title {
    display: inline-block;
    border-right: solid #fff 1px;
    padding-right: 10px;
    padding-left: 25px;
    margin-top: 9px;
}

.designed {
    float: left;
}

.designed > .company {
    position: absolute;
    margin-left: 260px;
    margin-top: 10px;
}

.designed > span {
    position: absolute;
    margin-left: 110px;
    margin-top: 11px;
    font-size: 11px;
}

.copyright {
    float: right;
    margin-top: 10px;
    margin-right: 90px;
    font-size: 11px;
}