.add-block1, .our-products-menu-item {
    text-transform: uppercase;
    font-weight: 700;
}

.becker-block, .ceo-article, .submenu {
    word-break: normal;
}

.navbar-item-link {
    width: 100%;
    height: 73px;
    border-top: solid #fff 2px;
    display: none;
    margin-top: 18px;
}

.active-menu, .show-menu, .show-menu-arrow {
    display: block;
}

.navbar-item-link > span {
    padding-top: 30px;
}

.navbar-logo {
    text-align: left;
    top: 20px;
    left: 2%;
    position: absolute;
}

.add-block1, .article-text, .article-title, .contacts, .copyright, .designed, .footer-menu, .main-info-slides, .navbar-dropdown, .show-menu, .slide-text {
    text-align: center;
}

.show-menu {
    margin-left: 55%;
    cursor: pointer;
}

.show-menu-icon {
    display: block;
    font-size: 40px;
    color: #8c8d8d;
    padding-top: 17px;
}

.navbar-dropdown {
    width: 75px;
    border-right: solid #ddd 1px;
    border-left: solid #ddd 1px;
    margin-left: 1%;
    margin-right: 5%;
    top: 0;
    right: 4%;
}

.navbar-dropdown > .dropdown-lang {
    list-style: none;
    height: 75px;
    width: 100%;
}

.navbar-dropdown > .dropdown-lang > .lang-item {
    display: none;
    height: 35px;
    width: 100%;
    padding-top: 30px;
    cursor: pointer;
}

.submenu {
    background-color: #8c8d8d;
    min-height: 212px;
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
    cursor: default;
    width: 100%;
    z-index: 2;
}
.submenu-item-img-title {
    color: #fff;
    display: block;
    float: left;
    margin-top: 10px;
}
.our-products-menu-item {
    display: inline-block;
    width: 16%;
    height: 50px;
    color: #333;
    background-color: #fff;
    float: left;
    font-size: 13px;
    border-right: solid #464c52 1px;
    cursor: pointer;
}

.our-products-menu {
    margin: 1%;
    padding-top: 20px;
    width: 100%;
    display: block;
    list-style: none;
}

.main-info-slides-item {
    width: 30%;
    height: 240px;
    margin: 1%;
    display: inline-block;
    box-shadow: inset 0 -97px 96px 0 rgba(0, 0, 0, .75);
    overflow: hidden;
}

.slide-text {
    display: block;
    width: 100%;
    color: #fff;
    padding-top: 180px;
    position: relative;
}

.main-info-add {
    display: block;
    width: 100%;
    padding-bottom: 65px;
    overflow: hidden;
    max-width: 100%;
}

.add-block {
    display: inline-block;
    min-height: 60px;
    padding: 10px;
}

.add-block > span {
    margin: 5px;
    display: inline-block;
}

.add-block1 > span {
    margin: 20px;
}

.add-block1 {
    background-color: #eb4200;
    color: #fff;
    font-size: 15px;
    width: 100%;
}

.add-block1-img {
    display: inline-block;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
    color: #eb4200;
}

.add-block1-img > i {
    position: absolute;
    margin-left: -6px;
    margin-top: 6px;
}

.add-block2 {
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    text-align: center;
    color: #555555;
}

.add-block2 > span {
    margin-top: 25px;
}

.main-info-ceo {
    width: 100%;
    font-size: 13px;
    margin: 0 auto;
    max-width: 100%;
}

.ceo-row {
    display: block;
    padding-bottom: 40px;
}

.contacts, .footer-menu {
    width: 100%;
    padding: 10px;
}

.contacts > .contacts-item {
    margin-left: 30px;
}

.ceo-article {
    display: block;
    width: 100%;
    line-height: 15px;
    margin-bottom: 20px;
}

.article-title {
    color: #000;
    width: 100%;
}

.article-text {
    color: #999;
    width: 100%;
}

.footer {
    width: 100%;
    background-color: #939494;
}

.footer-blocks {
    display: block;
    width: 100%;
}

.footer-block1 {
    display: inline-block;
    width: 100%;
}

.footer-block2 {
    display: inline-block;
    width: 100%;
    height: 50px;
}

.facebook-button, .footer-block3 {
    color: #fff;
    font-size: 13px;
}

.becker-block, .becker-block > img, .footer-menu {
    display: block;
}

.becker-block {
    font-size: 11px;
    color: #fff;
    width: 20%;
    margin: 0 auto;
    padding-top: 10px;
}

.becker-block > span {
    display: block;
    height: 35px;
    width: 90px;
    margin-top: -35px;
    margin-left: 140px;
}

.footer-menu {
    list-style: none;
    color: #fff;
    margin-top: 8px;
}

.copyright, .designed, .footer-block1, .footer-block2, .footer-blocks {
    border-bottom: solid #a6a6a6 1px;
}

.contacts, .footer-menu {
    border-top: solid #a6a6a6 1px;
}

.footer-menu-item {
    display: inline-block;
    cursor: pointer;
    margin-right: 60px;
    text-transform: uppercase;
}

.footer-menu-item:hover {
    color: #eb4200;
}

.contacts {
    display: block;
    color: #fff;
}

.contact-img, .contacts-item, .contacts-title {
    display: inline-block;
}

.facebook-button {
    margin: 10px auto;
}

.designed, .footer-block3 {
    display: block;
    width: 100%;
}

.facebook-img {
    display: inline-block;
    padding-left: 10px;
    padding-top: 9px;
    position: absolute;
}

.facebook-title {
    display: inline-block;
    border-right: solid #fff 1px;
    padding-right: 10px;
    padding-left: 25px;
    margin-top: 9px;
}

.facebook-num {
    display: inline-block;
    padding-left: 8px;
}

.designed {
    padding: 10px;
}

.designed > .company, .designed > span {
    display: inline-block;
}

.designed > .company {
    font-family: Oswald, sans-serif;
    font-size: 15px;
    vertical-align: middle;
    padding-left: 5px;
}

.copyright {
    display: block;
    width: 100%;
    padding: 10px;
}