body {
    font-family: "Tahoma";
}

.navbar {
    height: 75px;
    background-color: #ffffff;
}

.navbar-ul {
    list-style-type: none;
    height: 75px;
    padding-top: 15px;
}

.navbar-logo {
    margin-left: 75px;
    margin-right: 104px;
}

.navbar-item {
    font-size: 13px;
    font-family: "Tahoma";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s;
}

.navbar-item-link {
    width: 120px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: -30px;
    padding-bottom: 32px;
    border-bottom-style: solid;
    border-color: #ffffff;
    border-width: 2px;
}
.navbar-item-link:hover{
    border-color: #eb4200;
    color: #eb4200;
    transition: all 0.2s;
}
.navbar-dropdown > .dropdown-lang {
    list-style: none;
    margin-left: 15px;
    color: #dddddd;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 15px;
}

.navbar-dropdown > .dropdown-lang > .lang-item {
    display: none;
}

.navbar-dropdown > .dropdown-lang > .lang-item.active {
    display: block;
}

.lang-arrow-img {
    vertical-align: middle;
}

.banner {
    width: 100%;
    height: 522px;
    background: url("../images/house.png") no-repeat;
    -webkit-box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, 0.75);
}

.banner-content {
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.banner-text {
    color: #ffffff;
    padding-top: 120px;
}

.banner-text-title {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 810px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.banner-text-sub-title {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.banner-text-euro {
    background: #212121;
    border-radius: 3px;
    padding: 10px;
    width: 290px;
    margin: 0 auto;
    font-size: 15px;
    vertical-align: middle;
    height: 25px;
}
.euro-sign{
    margin-left: 55px;
}
.euro-content{
    margin-top: -25px;
    text-align: center;
    margin-left: 25px;
}