body {
    font-family: Tahoma, serif;
}

.banner-text-title, .navbar-item, .slide-text-title {
    text-transform: uppercase;
}

.main-block {
    max-width: 1366px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.navbar {
    min-height: 75px;
    background-color: #fff;
}

.navbar-ul {
    list-style-type: none;
}

.navbar-item {
    font-size: 13px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.navbar-item-link {
    text-align: center;
    border-bottom: solid #fff 2px;
}
.navbar-item-link > span{
    display: block;
}
.navbar-item-link:hover {
    border-color: #eb4200;
    color: #eb4200;
}

#products:hover {
    background-color: #8c8d8d;
    color: #fff;
    border-color: #8c8d8d;
}

#products:hover .submenu {
    visibility: visible;
}
.submenu {
    background-color: #8c8d8d;
    min-height: 212px;
    position: absolute;
    display: block;
    visibility: hidden;
    cursor: default;
    max-width: 100%;
    word-break: normal;
}
.submenu-item {
    display: inline-block;
    width: 120px;
    margin: 25px 0 0 25px;
    font-size: 11px;
    word-break: normal;
}

.submenu-item-img {
    cursor: pointer;
    float: left;
}
.submenu-img-container {
    cursor: pointer;
    position: relative;
    width: 110px;
    height: 70px;
}
.submenu-item-img-title {
    color: #fff;
    display: block;
    float: left;
}
.submenu-img-container:hover:after {
    vertical-align: middle;
    padding: 50px 5px 0 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    word-break: normal;
    line-height: 15px;
}

.submenu > li:nth-of-type(1) > .submenu-img-container:hover:after {
    content: 'Rolety';
}

.submenu > li:nth-of-type(2) > .submenu-img-container:hover:after {
    content: 'Venkovní žaluzie';
}

.submenu > li:nth-of-type(3) > .submenu-img-container:hover:after {
    content: 'Systémové parapety';
}

.submenu > li:nth-of-type(4) > .submenu-img-container:hover:after {
    content: 'Markýzy';
}

.submenu > li:nth-of-type(5) > .submenu-img-container:hover:after {
    content: 'Vrata';
}

.submenu > li:nth-of-type(6) > .submenu-img-container:hover:after {
    content: 'Sítě proti hmyzu';
}

.submenu > li:nth-of-type(7) > .submenu-img-container:hover:after {
    content: 'Barvy rolet a žaluzií';
}

.submenu > li:nth-of-type(8) > .submenu-img-container:hover:after {
    content: 'Spočítejte si cenu';
}

.submenu-img-container:hover + .submenu-item-img-title {
    visibility: hidden;
}
.navbar-dropdown {
    text-align: center;
    color: #ddd;
    cursor: default;
    position: absolute;
}
.navbar-dropdown > .dropdown-lang {
    list-style: none;
    height: 75px;
}
.navbar-dropdown > .dropdown-lang > .lang-item {
    display: none;
    cursor: pointer;
}
.navbar-dropdown > .dropdown-lang:hover > .lang-item {
    display: block;
    background-color: #8c8d8d;
    color: #fff;
    border-style: none;
}

.navbar-dropdown > .dropdown-lang:hover > .lang-item:hover {
    color: #eb4200;
}

.navbar-dropdown > .dropdown-lang > .lang-item.active {
    display: inline-block;
}

.navbar-dropdown > .dropdown-lang:hover > .lang-item.active > span > .lang-arrow-img {
    transform: rotateZ(-90deg);
}

.lang-arrow-img {
    vertical-align: middle;
    margin-left: 5px;
    position: absolute;
    transform: rotateZ(90deg);
}

.banner-text-sub-title, .banner-text-title {
    padding: 10px;
    background: rgba(0, 0, 0, .65);
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 522px;
    background: url(../images/house.png) no-repeat;
    box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, .75);
}

.banner-content {
    margin: 0 auto;
    width: 1145px;
    max-width: 100%;
    height: 100%;
}

.banner-text {
    color: #fff;
    padding-top: 113px;
}

.banner-text-title {
    font-weight: 700;
    width: 810px;
    text-align: center;
    max-width: 100%;
    word-break: normal;
}

.banner-text-sub-title {
    width: 600px;
    text-align: center;
    font-size: 23px;
    max-width: 100%;
    word-break: normal;
    margin-top: -10px;
}

.banner-text-euro {
    background: #212121;
    border-radius: 3px;
    padding: 10px 0;
    width: 290px;
    margin: -5px auto 100px;
    font-size: 15px;
    vertical-align: middle;
    height: 25px;
    max-width: 100%;
    word-break: normal;
}

.euro-sign {
    display: block;
    margin-left: 35px;
    width: 3px;
    height: 3px;
    background-color: #eb4200;
    padding: 9px 9px;
    border-radius: 30px;
    margin-top: 3px;
    font-weight: bold;
}

.euro-sign > i {
    display: block;
    font-size: 13px;
    margin-top: -4px;
    margin-left: -3px;
}

.euro-content {
    margin-top: -18px;
    text-align: center;
    margin-left: 16px;
    max-width: 100%;
    word-break: normal;
    text-transform: uppercase;
}

.our-products {
    text-align: center;
    font-size: 15px;
}

.our-products-title {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

.our-products-title:after, .our-products-title:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 45%;
    height: 1px;
    vertical-align: middle;
    background: #fff;
}

.our-products-title:before {
    left: -10px;
    margin-left: -45%;
}

.our-products-title:after {
    left: 10px;
    margin-right: -45%;
}

.our-products-menu > li:nth-last-of-type(1) {
    border-right-style: none;
}
.our-products-menu-item {
    display: inline-block;
    height: 50px;
    color: #333;
    background-color: #fff;
    float: left;
    font-size: 13px;
    cursor: pointer;
}

.our-products-menu {
    max-width: 100%;
    display: block;
    list-style: none;
    min-height: 50px;
}
.our-products-menu-item:hover {
    background-color: #333;
    color: #fff;
}

.our-products-menu-item > span {
    display: block;
    margin-top: 19px;
}

.main-info {
    background-color: #f3f3f3;
    width: 100%;
}
.main-info-slides-item {
    display: inline-block;
    box-shadow: inset 0 -97px 96px 0 rgba(0, 0, 0, .75);
    overflow: hidden;
}
.main-info-slides-item#slide1 {
    background: url(../images/img-slide-1.png) no-repeat;
}

.main-info-slides-item#slide2 {
    background: url(../images/img-slide-2.png) no-repeat;
}

.main-info-slides-item#slide3 {
    background: url(../images/img-slide-3.png) no-repeat;
}
.slide-text {
    display: block;
    width: 100%;
    color: #fff;
    position: relative;
}
.slide-text-title {
    font-size: 15px;
    font-weight: 700;
}

.slide-badge, .slide-text-description {
    font-size: 13px;
}

.slide-badge {
    color: #fff;
    background-color: #eb4200;
    width: 145px;
    height: 35px;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    margin-left: -10px;
    margin-bottom: -65px;
    transform: skewX(-25deg);
}

.slide-badge > span {
    display: block;
    padding-top: 11px;
    transform: skewX(25deg);
}

.radio-buttons {
    display: block;
    margin: -10px auto;
    width: 60px;
    height: 25px;
    padding-bottom: 60px;
}

.radio-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: #bbb;
    cursor: pointer;
}

.radio-button.radio-active {
    background-color: #eb4200;
}
.main-info-add {
    overflow: hidden;
    max-width: 100%;
}
.add-block {
    display: inline-block;
}
.add-block1 {
    background-color: #eb4200;
    color: #fff;
    font-size: 15px;
}
.add-block1-img {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.add-block1-img {
    color: #eb4200;
    font-size: 16px;
}
.add-block1-img > i {
    position: absolute;
    margin-left: -6px;
    margin-top: 6px;
}
.add-block2 {
    background-color: #fff;
    font-size: 15px;
    color: #555555;
}
.add-block2 > span {
    margin-top: 25px;
}
.main-info-ceo {
    font-size: 13px;
    margin: 0 auto;
    max-width: 100%;
}
.ceo-row {
    display: block;
    padding-bottom: 40px;
}
.ceo-article {
    word-break: normal;
    line-height: 15px;
}
.article-title {
    color: #000;
}
.article-text {
    color: #999;
}
.article-text > span {
    color: #eb4200;
    cursor: pointer;
}

.article-text > span:hover {
    text-decoration: underline;
}
.footer {
    width: 100%;
    background-color: #939494;
}
.footer-blocks {
    display: block;
    width: 100%;
}
.becker-block {
    font-size: 11px;
    color: #fff;
}
.becker-block > img {
    display: block;
}
.becker-block > span {
    display: block;
}
.facebook-button {
    width: 150px;
    height: 30px;
    background-color: #3a5795;
    font-size: 13px;
    cursor: pointer;
}
.facebook-img {
    padding-left: 10px;
    padding-top: 9px;
    position: absolute;
}
.facebook-title {
    display: inline-block;
    border-right: solid #fff 1px;
    padding-right: 10px;
    padding-left: 25px;
    margin-top: 9px;
}

.facebook-num {
    padding-left: 8px;
}
.contact-img {
    width: 30px;
    height: 30px;
    background-color: #7c7c7c;
    border-radius: 30px;
    text-align: center;
}

.contact-img > i {
    padding-top: 10px;
    font-size: 12px;
}
.footer-menu {
    list-style: none;
    display: block;
    color: #fff;
}
.footer-menu-item {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}
.designed > .company {
    font-family: Oswald, sans-serif;
    font-size: 15px;
}
