body {
    font-family: "Tahoma";
}
.main-block{
    max-width: 1366px;
    margin: 0 auto;
}
.navbar {
    height: 75px;
    background-color: #ffffff;
}

.navbar-ul {
    list-style-type: none;
}

.navbar-logo {
    margin-left: 75px;
    margin-right: 104px;
}

.navbar-item {
    font-size: 13px;
    font-family: "Tahoma";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s;
}

.navbar-item-link {
    width: 120px;
    margin-right: 20px;
    text-align: center;
    height: 73px;
    border-bottom-style: solid;
    border-color: #ffffff;
    border-width: 2px;
}
.navbar-item-link>span{
    display: block;
    padding-top: 25%;
}
.navbar-item-link:hover{
    border-color: #eb4200;
    color: #eb4200;
    transition: all 0.2s;
}
#products:hover{
    background-color: #8c8d8d;
    color: #ffffff;
    border-color: #8c8d8d;
}
#products:hover .submenu{
    visibility: visible;
}
.submenu{
    width: 1366px;
    background-color: #8c8d8d;
    height: 212px;
    position: absolute;
    margin-top: 32px;
    margin-left: -402px;
    display: block;
    visibility: hidden;
    cursor: default;
}
.submenu-item{
    display: inline-block;
    width: 120px;
    margin: 25px 0 0 25px;
    font-size: 11px;
    word-break: break-all;
}
.submenu-item-img{
    cursor: pointer;
    float: left;
}
.submenu-item-img-title{
    color: #ffffff;
    display: block;
    float: left;
    margin-top: 10px;
}

.submenu-img-container {
    position: relative;
    width:117px;
    height: 67px;
}
.submenu-img-container:hover:after{
    content: '';
    vertical-align: middle;
    padding-top: 50px;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    word-break: break-all;
}
.submenu-img-container:hover+.submenu-item-img-title{
    visibility: hidden;
}
.navbar-dropdown{
    text-align: center;
    color: #dddddd;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 0 15px 0 15px;
    margin-left: 15px;
    vertical-align: middle;
}
.navbar-dropdown > .dropdown-lang {
    list-style: none;
    height: 75px;
    width: 70px;
}

.navbar-dropdown > .dropdown-lang > .lang-item {
    display: none;
    height: 75px;
    width: 70px;
    padding-top: 30px;
}
.navbar-dropdown > .dropdown-lang:hover > .lang-item{
    display: block;
    background-color: #8c8d8d;
    color: #ffffff;
    border-style: none;
}
.navbar-dropdown > .dropdown-lang > .lang-item.active {
    display: inline-block;
}

.lang-arrow-img {
    vertical-align: middle;
}
.banner {
    width: 100%;
    height: 522px;
    background: url("../images/house.png") no-repeat;
    -webkit-box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 -117px 196px 0 rgba(0, 0, 0, 0.75);
}

.banner-content {
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.banner-text {
    color: #ffffff;
    padding-top: 120px;
}

.banner-text-title {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 810px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.banner-text-sub-title {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.banner-text-euro {
    background: #212121;
    border-radius: 3px;
    padding: 10px;
    width: 290px;
    margin: 0 auto;
    font-size: 15px;
    vertical-align: middle;
    height: 25px;
}
.euro-sign{
    margin-left: 55px;
}
.euro-content{
    margin-top: -25px;
    text-align: center;
    margin-left: 25px;
}